.post-title {
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.2em;
}

.article-container {
    margin: 1.5em 1.2em;
}

.subheading {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1em;
}

.content-paragraph {
    margin-bottom: 1em;
}

.center-align {
    text-align: center;
}

@media (min-width: 768px) {
    main {
        background: var(--light-grey);
        padding: 2em;
    }

    .subheading {
        font-size: 1.3rem;
    }

    .content-paragraph {
        font-size: 1.2rem;
    }

    .recent-articles-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .post-title-small {
        font-size: 1.5rem;
    }

    .subheading {
        margin-top: 2em;
        margin-bottom: 0;
    }

    .article-content {
        padding: 0 4em;
    }
}