/* --- GENERAL SETUP --- */
:root {
    /* Fonts */
    --font-primary: 'Source Sans 3', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    /* Font colors */
    --black: #090909;
    --white: #FFF;
    --grey: #505050;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
}

/* --- NAV --- */
nav {
    display: grid;
    grid-template-columns: 10% 50% 20% 20%;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    padding: 1.5em 0.5em;
}

.logo {
    margin-left: 1em;
    width: 24px;
}

.nav-link-logo,
.nav-link {
    text-decoration: none;
}

.nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: var(--font-weight-semi-bold);
}

a:active,
a:visited {
    color: var(--black);
}

.nav-link-first {
    margin-left: 1.5em;
}

.site-name {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    margin-left: 0.4em;
}

/* --- VIEW MORE SECTION --- */
.load-more-container {
    margin: 1em 0 2em 0;
    text-align: center;
}

.load-more-btn {
    font-weight: var(--font-weight-bold);
}

/* --- FOOTER --- */
.footer {
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 2em auto;
    margin-top: auto;
}

.footer-container {
    padding: 3em;
    font-size: 0.75em;
}

.footer-text-bold {
    font-weight: var(--font-weight-bold);
}

.post-date {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: var(--font-weight-regular);
    margin-bottom: 0.5em;
}

.article-img {
    border-radius: 3px;
    margin: 2em 0 1em 0;
}

.article-link {
    text-decoration: none;
    color: var(--black);
}