/* --- GENERAL SETUP --- */
:root {
    /* Fonts */
    --font-primary: 'Source Sans 3', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    /* Font colors */
    --black: #090909;
    --white: #FFF;
    --grey: #505050;
    --light-grey: #FAFAFA;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
}

/* --- HAMBURGER MENU --- */
.hamburger-wrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    float: right;
    margin: 0.5em 0.5em 0.5em auto;
    cursor: pointer;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger:before,
.hamburger:after {
    padding: 0;
    background-color: var(--black);
    border-radius: 3px;
    width: 70%;
    height: 4px;
    transition: margin .1s .2s, transform .2s;
}

.hamburger:before,
.hamburger:after {
    margin: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hamburger:before {
    margin-top: -10px;
}

.hamburger:after {
    margin-top: 10px;
}

.open .hamburger {
    transform: rotate(45deg);
}
  
.open .hamburger,
.open .hamburger:before,
.open .hamburger:after {
    transition: margin .2s, transform .1s .2s;
}
  
.open .hamburger:before,
.open .hamburger:after {
    margin-top: 0;
}
  
.open .hamburger:after {
    transform: rotate(-90deg)
}
 
/* --- NAV --- */
nav {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    padding: 1.5em 0.5em 0.75em 0.5em;
}

.nav-links {
    display: none;
    gap: 15px;
}

.nav-links.active {
    display: flex;
    animation: fade .5s;
}

@keyframes fade {
    from{transform: translateX(-70px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
}

.logo-container {
    display: flex;
    align-items: center;
    align-self: start;
}

.logo {
    margin-left: 1em;
    width: 24px;
}

.nav-link-logo,
.nav-link {
    text-decoration: none;
}

.nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: var(--font-weight-semi-bold);
    color: var(--black);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--grey);
}

a:active,
a:visited {
    color: var(--black);
}

.nav-link-first {
    margin-left: 1.5em;
}

.site-name {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    margin-left: 0.4em;
}

/* --- VIEW MORE SECTION --- */
.load-more-container {
    margin: 1em 0 2em 0;
    text-align: center;
}

.load-more-btn {
    font-weight: var(--font-weight-bold);
}

/* --- FOOTER --- */
.footer {
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 2em auto;
    margin-top: auto;
}

.footer-container {
    padding: 2em;
    font-size: 0.75em;
}

.footer-text-bold {
    font-weight: var(--font-weight-bold);
}

.post-date {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: var(--font-weight-regular);
    margin-bottom: 0.5em;
}

.article-img {
    border-radius: 3px;
    margin: 2em 0 1em 0;
}

.article-link {
    text-decoration: none;
    color: var(--black);
}

.article-link:hover,
.article-link:focus {
    color: var(--grey);
}


@media (min-width: 768px) {
    .logo-container {
        margin-left: 2em;
    }

    .logo {
        width: 30px;
    }

    .site-name {
        font-size: 1rem;
    }

    .hamburger-wrapper {
        display: none;
    }

    nav {
        display: grid;
        grid-template-columns: 70% 30%;
        transition: none;
        padding-bottom: 1.5em;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        margin-right: 2em;
    }

    .nav-link-logo,
    .nav-link,
    .post-date {
        font-size: 1rem;
    }

    .post-text,
    footer {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .site-name {
        font-size: 1.2rem;
    }
}