/* --- TYPOGRAPHY --- */
.hero-post-title {
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.2em;
}

.post-title {
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
}

.post-text {
    color: var(--grey);
}

/* --- ARTICLES --- */
.hero-post {
    background-image: url("../images/hero-post.jpg");
    background-size: cover;
    width: 100%;
    color: var(--white);
    padding: 6em 1em 1em 1em;
}

.post-date {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: var(--font-weight-regular);
    margin-bottom: 0.5em;
}

.articles-container {
    padding: 0 1em;
}

.hidden {
    display: none;
}