/* --- GENERAL SETUP --- */
:root {
    /* Fonts */
    --font-primary: 'Source Sans 3', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    /* Font colors */
    --black: #090909;
}

body {
    font-family: var(--font-primary);
}

/* --- NAV --- */
nav {
    display: grid;
    grid-template-columns: 10% 50% 20% 20%;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    padding: 1.5em 1em;
}

.logo {
    margin-left: 1em;
    width: 24px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: var(--font-weight-semi-bold);
}

.nav-link:active,
.nav-link:visited {
    color: var(--black);
}

.nav-link-first {
    margin-left: 1.5em;
}

.site-name {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    margin-left: 0.4em;
}